<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzw.book.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.jzw.book.model.Address">
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="address_name" jdbcType="VARCHAR" property="addressName" />
    <result column="address_username" jdbcType="VARCHAR" property="addressUsername" />
    <result column="address_phone" jdbcType="VARCHAR" property="addressPhone" />
    <result column="address_code" jdbcType="VARCHAR" property="addressCode" />
  </resultMap>

  <sql id="Base_Column_List">
    address_id, address_name, address_username, address_phone, address_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>

  <!-- 添加地址信息 -->
  <insert id="insert" parameterType="com.jzw.book.model.Address"
          keyColumn="address_id" keyProperty="addressId" useGeneratedKeys="true">
    insert into b_address (address_name, address_username,
      address_phone, address_code)
    values (#{addressName,jdbcType=VARCHAR}, #{addressUsername,jdbcType=VARCHAR},
      #{addressPhone,jdbcType=VARCHAR}, #{addressCode,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.jzw.book.model.Address">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Dec 31 13:41:06 CST 2017.
    -->
    insert into b_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        address_id,
      </if>
      <if test="addressName != null">
        address_name,
      </if>
      <if test="addressUsername != null">
        address_username,
      </if>
      <if test="addressPhone != null">
        address_phone,
      </if>
      <if test="addressCode != null">
        address_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="addressName != null">
        #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressUsername != null">
        #{addressUsername,jdbcType=VARCHAR},
      </if>
      <if test="addressPhone != null">
        #{addressPhone,jdbcType=VARCHAR},
      </if>
      <if test="addressCode != null">
        #{addressCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzw.book.model.Address">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Dec 31 13:41:06 CST 2017.
    -->
    update b_address
    <set>
      <if test="addressName != null">
        address_name = #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressUsername != null">
        address_username = #{addressUsername,jdbcType=VARCHAR},
      </if>
      <if test="addressPhone != null">
        address_phone = #{addressPhone,jdbcType=VARCHAR},
      </if>
      <if test="addressCode != null">
        address_code = #{addressCode,jdbcType=VARCHAR},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzw.book.model.Address">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Dec 31 13:41:06 CST 2017.
    -->
    update b_address
    set address_name = #{addressName,jdbcType=VARCHAR},
      address_username = #{addressUsername,jdbcType=VARCHAR},
      address_phone = #{addressPhone,jdbcType=VARCHAR},
      address_code = #{addressCode,jdbcType=VARCHAR}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>