<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzw.book.mapper.OrderDetailsMapper">

  <resultMap id="BaseResultMap" type="com.jzw.book.model.OrderDetails">
    <id column="od_id" jdbcType="INTEGER" property="odId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="od_sum" jdbcType="INTEGER" property="odSum" />
    <result column="od_price" jdbcType="DECIMAL" property="odPrice" />
  </resultMap>

  <sql id="Base_Column_List">
    od_id, book_id, shop_id, order_id, od_sum, od_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_orders_details
    where od_id = #{odId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_orders_details
    where od_id = #{odId,jdbcType=INTEGER}
  </delete>


  <!-- 保存订单项 -->
  <insert id="insert" parameterType="com.jzw.book.model.OrderDetails">
    insert into b_orders_details (book_id, shop_id,
      order_id, od_sum, od_price
      )
    values (#{bookId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER},
      #{orderId,jdbcType=INTEGER}, #{odSum,jdbcType=INTEGER}, #{odPrice,jdbcType=DECIMAL}
      )
  </insert>

  <select id="selectOrderId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from b_orders_details
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>


  <insert id="insertSelective" parameterType="com.jzw.book.model.OrderDetails">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Dec 31 13:41:06 CST 2017.
    -->
    insert into b_orders_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="odId != null">
        od_id,
      </if>
      <if test="bookId != null">
        book_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="odSum != null">
        od_sum,
      </if>
      <if test="odPrice != null">
        od_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="odId != null">
        #{odId,jdbcType=INTEGER},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="odSum != null">
        #{odSum,jdbcType=INTEGER},
      </if>
      <if test="odPrice != null">
        #{odPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jzw.book.model.OrderDetails">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Dec 31 13:41:06 CST 2017.
    -->
    update b_orders_details
    <set>
      <if test="bookId != null">
        book_id = #{bookId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="odSum != null">
        od_sum = #{odSum,jdbcType=INTEGER},
      </if>
      <if test="odPrice != null">
        od_price = #{odPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where od_id = #{odId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jzw.book.model.OrderDetails">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Dec 31 13:41:06 CST 2017.
    -->
    update b_orders_details
    set book_id = #{bookId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      od_sum = #{odSum,jdbcType=INTEGER},
      od_price = #{odPrice,jdbcType=DECIMAL}
    where od_id = #{odId,jdbcType=INTEGER}
  </update>
</mapper>